News/Web References/services/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IService1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://194.233.71.252/WcfNews/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://194.233.71.252/WcfNews/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://194.233.71.252/WcfNews/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfTemp" />
      <xsd:import schemaLocation="http://194.233.71.252/WcfNews/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_SP_GetCountry_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_GetCountry" />
  </wsdl:message>
  <wsdl:message name="IService1_SP_GetCountry_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_GetCountryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SP_GetCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_GetCategory" />
  </wsdl:message>
  <wsdl:message name="IService1_SP_GetCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_GetCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SP_GetNews_InputMessage">
    <wsdl:part name="parameters" element="tns:SP_GetNews" />
  </wsdl:message>
  <wsdl:message name="IService1_SP_GetNews_OutputMessage">
    <wsdl:part name="parameters" element="tns:SP_GetNewsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="SP_GetCountry">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SP_GetCountry" message="tns:IService1_SP_GetCountry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SP_GetCountryResponse" message="tns:IService1_SP_GetCountry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_GetCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SP_GetCategory" message="tns:IService1_SP_GetCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SP_GetCategoryResponse" message="tns:IService1_SP_GetCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SP_GetNews">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SP_GetNews" message="tns:IService1_SP_GetNews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SP_GetNewsResponse" message="tns:IService1_SP_GetNews_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SP_GetCountry">
      <soap:operation soapAction="http://tempuri.org/IService1/SP_GetCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_GetCategory">
      <soap:operation soapAction="http://tempuri.org/IService1/SP_GetCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_GetNews">
      <soap:operation soapAction="http://tempuri.org/IService1/SP_GetNews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IService1" type="tns:IService1">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IService1_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SP_GetCountry">
      <soap:operation soapAction="http://tempuri.org/IService1/SP_GetCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_GetCategory">
      <soap:operation soapAction="http://tempuri.org/IService1/SP_GetCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SP_GetNews">
      <soap:operation soapAction="http://tempuri.org/IService1/SP_GetNews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://194.233.71.252/WcfNews/Service1.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IService1" binding="tns:BasicHttpsBinding_IService1">
      <soap:address location="https://vmi1297892:4433/WcfNews/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>