News/Web References/services/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://194.233.71.252/WcfNews/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfTemp" />
  <xs:element name="SP_GetCountry">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_GetCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfTemp" minOccurs="0" name="SP_GetCountryResult" nillable="true" type="q1:Temp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_GetCategory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_GetCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfTemp" minOccurs="0" name="SP_GetCategoryResult" nillable="true" type="q2:Temp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_GetNews">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="page" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_GetNewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfTemp" minOccurs="0" name="SP_GetNewsResult" nillable="true" type="q3:Temp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>